# OdontoHub - Variáveis de Ambiente

# Chave secreta para o JWT
JWT_SECRET="sua_chave_secreta_aqui"

# Configurações do Banco de Dados
DATABASE_URL=postgresql://neondb_owner:npg_eM1p3TDQWBjS@ep-old-sun-a49jft1q-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require

# Configurações de E-mail (MailerSend)
MAILERSEND_API_TOKEN=seu_token_aqui

# Configurações do Cloudinary
CLOUDINARY_CLOUD_NAME=dl0ttom7q
CLOUDINARY_API_KEY=386618882828158
CLOUDINARY_API_SECRET=EEiSX1enV1OPfvZBnW3nh4_F3wA
